.full-width {
    width: 300px
}

.button-copy {
    height: 56px;
    margin-left: 8px;
}

.holder {
    display: flex;
    align-items: flex-start;
}

.action-button {
    margin: 20px;
    margin-top: 0px;
}