<mat-toolbar color="primary">
  <section class="nav">
    <span class="nav__name">Liga Podwórkowa</span>

    <div class="actions">
      <div class="sport">
        <h3>{{ sport.currentSportName }}</h3>
        <button class="menu__button" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <a class="nav__logout" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Wyloguj się</span>
      </a>
    </div>
  </section>
</mat-toolbar>

<section class="main">
  <router-outlet></router-outlet>
</section>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="select('football')">
      <span>{{ sport.sportNameString("football") }}</span>
    </button>
    <button mat-menu-item (click)="select('basketball')">
      <span>{{ sport.sportNameString("basketball") }}</span>
    </button>
    <button mat-menu-item (click)="select('voleyball')">
      <span>{{ sport.sportNameString("voleyball") }}</span>
    </button>
  </ng-template>
</mat-menu>
