table {
  width: 100%;
  margin: 30px 0px;
}

.action {
  width: 15px;
}

button {
  margin-right: 5px;
}

.mat-form-field {
  width: 100%;
  min-width: 320px;
}

.list-title {
    margin-top: 32px;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-mdc-table {
      margin-top: 8px;
  }
  