.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.title {
    margin-top: 16px;
    margin-bottom: 8px;
}

.details {
    margin-top: 25px;
}

.accordions-holder{
    display: grid;
    grid-gap: 8px;
}

.join-team {
    margin: 16px;
}

.no-team-buttons {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .mdc-button{
        width: 200px;
        margin: 8px
    }
}

