<div class="container">
  <section [ngSwitch]="selectedSection">
    <app-ladders-toggle
      [selected]="selectedSection"
      [isOwner]="isOwner$ | async"
      [hasTeam]="hasTeam$ | async"
      (selectionChange)="changeSelection($event)"
    />

    <div *ngSwitchCase="'teams'">
      <app-teams-list
        [playerTeam]="playerTeam$ | async"
        [isOwner]="isOwner$ | async"
        (challangeTeam)="challangeTeam($event)"
        (showTeam)="showTeamDialog($event)"
      />
    </div>

    <div *ngSwitchCase="'players'">
      <app-players-list />
    </div>

    <div *ngSwitchCase="'matches'">
      <app-awaiting-scoring-challanges-list
        [isOwner]="isOwner$ | async"
        (showChallange)="showChallangeDialog($event)"
        (resolveChallange)="resolveChallange($event)"
      />
      <app-matches-history-list
        (showChallange)="showChallangeDialog($event)"
      />
    </div>

    <div *ngSwitchCase="'challanges'">
      <app-pending-challanges-list
        [pendingChallanges]="challanges$ | async | challangeType : 'REQUESTED'"
        (acceptChallange)="acceptChalange($event)"
        (declineChallange)="declineChalange($event)"
        (showChallange)="showChallangeDialog($event)"
      />
    </div>
  </section>
  <section>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title *ngIf="currentUser"
          >{{ currentUser.name }} {{ currentUser.lastname }}</mat-card-title
        >
        <mat-card-subtitle *ngIf="playerTeam$ | async as playerTeam">{{
          playerTeam.name
        }}</mat-card-subtitle>
      </mat-card-header>
      <ng-container *ngIf="playerTeam$ | async as playerTeam; else noTeam">
        <mat-card-content>
          <div class="details">
            <p class="score">
              <strong>Pozycja w lidze:</strong> {{ playerTeam.rank }}
            </p>
            <p class="score">
              <strong>Punkty:</strong> {{ playerTeam.points }}
            </p>
          </div>

          <div class="accordions-holder">
            <app-team-members-list
              [members]="playerTeam.members"
              [isOwner]="isOwner$ | async"
              (invite)="openInvitation(playerTeam.id)"
            />
          </div>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </section>
</div>

<ng-template #noTeam>
  <div class="no-team-buttons">
    <button
      mat-raised-button
      color="primary"
      class="join-team"
      (click)="openJoinTeam()"
    >
      Dołącz do zespołu
    </button>

    <button
    mat-raised-button
    color="primary"
    class="join-team"
    (click)="openCreateTeam()"
  >
    Utwórz zespół
  </button>
  </div>
</ng-template>
