<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Członkowie zespołu </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list role="list">
      <mat-list-item *ngFor="let item of members" role="listitem"
        >{{ item.firstname }} {{ item.lastname }}</mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="isOwner">
        <button
          mat-stroked-button
          color="priamry"
          class="add_member"
          (click)="openInvitation()"
        >
          <mat-icon mat-list-icon>add</mat-icon>
          <span>Dodaj</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
