<h2 class="list-title">Lista zespołów</h2>

<mat-form-field>
  <mat-label>Wyszukaj zespół</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Pozycja</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nazwa</th>
    <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Wynik</th>
    <td mat-cell *matCellDef="let element">{{ element.points }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="action" mat-header-cell *matHeaderCellDef>Akcja</th>
    <td mat-cell *matCellDef="let element">
      <button
        class="menu__button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{ element }"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 25, 50]"
  [pageSize]="10"
  [length]="totalElements"
  (page)="getPage($event)"
>
</mat-paginator>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-element="element">
    <button
    mat-menu-item
      *ngIf="element.id !== playerTeam?.id && isOwner"
      (click)="challangeTeamAction(element)"
    >
      Wyzwij
    </button>
    <button mat-menu-item (click)="show(element)">
      <span>Podgląd</span>
    </button>
  </ng-template>
</mat-menu>
