<ng-container *ngIf="challange">
  <mat-list-item class="menu">
    <div matListItemTitle>{{ challange.challanger.name }}</div>
    <div matListItemLine>{{ challange.time | date : "dd.MM.yyyy HH.mm" }}</div>

    <button 
      class="menu__button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{ element: challange }"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-list-item>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-element="element">
      <button mat-menu-item (click)="accept(element.id)">
        <span>Akceptuj</span>
      </button>
      <button mat-menu-item (click)="decline(element.id)">
        <span>Odrzuć</span>
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
