<ng-container *ngIf="challange | async as challange ">
  <mat-list-item class="menu">
    <div matListItemTitle>{{ challange.challenger.name }}</div>
    <div matListItemLine>{{ challange?.matchTime | date : "dd.MM.yyyy HH.mm" }}</div>

    <button
      class="menu__button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{ element: challange }"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-list-item>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-element="element">
      <button mat-menu-item (click)="show(element)">
        <span>Podgląd</span>
      </button>
      <ng-container *ngIf="controls">
        <button mat-menu-item (click)="accept(element.id)">
          <span>Akceptuj</span>
        </button>
        <button mat-menu-item (click)="decline(element.id)">
          <span>Odrzuć</span>
        </button>
      </ng-container>
      <button *ngIf="showResolve" mat-menu-item (click)="resolve(element)">
        <span>Wprowadź wynik</span>
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
